server:
  port: ${tomcat.port:${SERVER_PORT:${PORT:8080}}}

spring:
  application:
    name: cystrixblog
  servlet:
    multipart:
      max-file-size: 10MB
  jackson:
    default-property-inclusion: non_null   # 序列化时默认排除值为null的字段
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

logging:
  level:
    org.apache.ibatis: WARN