<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.ArchiveDao">

    <select id="listArticleWithPage"  parameterType="com.cystrix.blog.vo.ArchiveVo"
            resultType="com.cystrix.blog.view.ArticleView">
        select a.create_time, a.id, a.title, c.name as coverImg from article a
        left join article_cover c on c.article_id = a.id
        <where>
            <if test="year != null and year.length > 0 and month != null and month.length > 0">
                and year(a.create_time) = #{year} and month(a.create_time) = #{month}
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="listArchiveStatisInfoWithPage" resultType="com.cystrix.blog.view.ArchiveStatisInfoView">
        select year(create_time) year, month(create_time) month,  count(*) articleNum
        from article
        group by year(create_time), month(create_time)
        order by year DESC, month DESC
    </select>
</mapper>