<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.ArchiveDao">

    <select id="listArticleWithPage"  resultType="com.cystrix.blog.entity.Article">
        select * from article order by year(create_time), month(create_time) DESC
    </select>
</mapper>