<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.ArchiveDao">

    <select id="listArticleWithPage"  resultType="com.cystrix.blog.entity.Article">
        select * from article order by year(create_time), month(create_time) DESC
    </select>

    <select id="listArchiveStatisInfoWithPage" resultType="com.cystrix.blog.view.ArchiveStatisInfoView">
        select year(create_time) year, month(create_time) month,  count(*) articleNum
        from article
        group by year(create_time), month(create_time)
        order by year DESC, month DESC
    </select>
</mapper>