<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.ArticleCommentDao">

    <insert id="insert" parameterType="com.cystrix.blog.entity.ArticleComment" useGeneratedKeys="true" keyProperty="id">
        insert into article_comment(id, article_id, comment_id) value(null, #{articleId}, #{commentId})
    </insert>
</mapper>