<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.ArticleDao">
    <sql id="tb">`article`</sql>
    <sql id="baseCols">
    `id`,`title`,`content`,`digest`,`comment_count`,`view_count`,`like_count`,`hot_rank`,
    `create_time`,`update_time`,`is_delete`
    </sql>
    <sql id="baseColsWithoutContent">
    `id`,`title`,`digest`,`comment_count`,`view_count`,`like_count`,`hot_rank`,
    `create_time`,`update_time`,`is_delete`
    </sql>

    <insert id="insert" parameterType="com.cystrix.blog.entity.Article" useGeneratedKeys="true" keyProperty="id">
        insert into article(id, title, content, digest) value(null, #{title}, #{content}, #{digest})
    </insert>

    <select id="selectPageWithoutContent" resultType="com.cystrix.blog.entity.Article">
        SELECT <include refid="baseColsWithoutContent"/> FROM <include refid="tb"/>
        WHERE `is_delete` = 0
        ORDER BY `id` DESC
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>

    <select id="selectPageByYearWithoutContent" resultType="com.cystrix.blog.entity.Article">
        SELECT <include refid="baseColsWithoutContent"/> FROM <include refid="tb"/>
        WHERE YEAR(`create_time`) = #{year} AND `is_delete` = 0
        ORDER BY `id` DESC
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>

    <select id="selectArticleListByHotRank" resultType="com.cystrix.blog.entity.Article" parameterType="integer">
        SELECT  <include refid="baseColsWithoutContent"/> FROM <include refid="tb"/>
        WHERE `is_delete` = 0
        ORDER BY `hot_rank` DESC
    </select>

    <select id="selectArticleById" resultType="com.cystrix.blog.entity.Article">
        SELECT * FROM article WHERE `id` = #{id} AND `is_delete` = 0
    </select>

    <select id="selectArticleByIdWithoutContent" resultType="com.cystrix.blog.entity.Article">
        SELECT `id`,`title`,`digest`,`comment_count`,`view_count`, `like_count`,`hot_rank`,
        `create_time`,`update_time`, `is_delete` FROM <include refid="tb"/>
        WHERE `id` = #{id} AND `is_delete` = 0
    </select>

    <select id="selectArticleByIdsWithoutContent"  resultType="com.cystrix.blog.entity.Article">
        SELECT <include refid="baseColsWithoutContent"/> FROM <include refid="tb"/> WHERE `id`
        <foreach collection="ids" item="id" open="IN (" separator="," close=")">
            #{id}
        </foreach>
        AND `is_delete` = 0
    </select>

    <update id="update" parameterType="com.cystrix.blog.entity.Article">
        UPDATE <include refid="tb"/>
        <set>
            <if test="title != null">`title` = #{title},</if>
            <if test="content != null">`content` = #{content},</if>
            <if test="digest != null">`digest` = #{digest},</if>
            <if test="commentCount != null">`comment_count` = #{commentCount},</if>
            <if test="wordNum != null">`wordNum` = #{wordNum},</if>
            <if test="viewCount != null">`view_count` = #{viewCount},</if>
            <if test="likeCount != null">`like_count` = #{likeCount},</if>
            <if test="hotRank != null">`hot_rank` = #{hotRank}</if>
        </set>
        WHERE `id` = #{id} AND `is_delete` = 0
    </update>

    <update id="deleteById" parameterType="integer">
        update article set `is_delete` = 1 where `id` = #{id}
    </update>

    <select id="articleStatisInfo" resultType="com.cystrix.blog.entity.SiteInfo">
        select count(*) articleNum, sum(wordNum) wordsNum from article where is_delete != 1
    </select>

    <select id="selectArticleWithPage" resultType="com.cystrix.blog.entity.Article" parameterType="com.cystrix.blog.vo.ArticleVo">
        select id, title, digest, wordNum, view_count, like_count, create_time, update_time from article where is_delete != 1
        <if test="title != null">
            and title like concat('%', #{title}, '%')
        </if>
        <if test="startTime != null and endTime != null">
            and create_time between #{startTime} and #{endTime}
        </if>
    </select>

</mapper>