<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.ArticleTagDao">
    <sql id="tb">`article_tag`</sql>
    <sql id="baseCols">`id`,`article_id`,`tag_id`</sql>

    <insert id="insert" parameterType="com.cystrix.blog.entity.ArticleTag" useGeneratedKeys="true" keyProperty="id">
        insert into article_tag value (null, #{articleId}, #{tagId})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into article_tag(id, article_id, tag_id) values <foreach collection="list" separator="," item="item">
        (null, #{item.articleId}, #{item.tagId})
        </foreach>
    </insert>

    <select id="selectTagIdListByArticleId" parameterType="integer" resultType="integer">
        SELECT  `tag_id` FROM <include refid="tb"/>
        WHERE `article_id`  = #{articleId}
    </select>


    <select id="selectArticleIdByTagId" parameterType="integer"  resultType="integer">
        SELECT `article_id` FROM <include refid="tb"/>
        WHERE `tag_id` = #{tagId}
    </select>

    <delete id="deleteByArticleIdAndTagId" parameterType="com.cystrix.blog.entity.ArticleTag">
        delete from article_tag where `article_id` = #{articleId} and `tag_id` = #{tagId}
    </delete>

    <delete id="deleteByTagId" parameterType="integer">
        delete from article_tag where tag_id = #{tagId}
    </delete>
</mapper>