<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cystrix.blog.dao.UserInfoDao" >
    <sql id="tb">`user_info`</sql>
    <sql id="baseCols">
    `id`,`username`,`password`,`email`,`avatar`,
    `motto`,`createTime`,`updateTime`,`isDelete`
    </sql>
    
    <insert id="insert" parameterType="com.cystrix.blog.dao.UserInfoDao" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="tb"/>(<include refid="baseCols"/>)
        VALUE (NULL, #{username}, #{password}, ${email}, #{avatar}, #{motto}, #{createTime}, #{updateTime}, ${isDelete})
    </insert>



</mapper>